.quiz-app {
  background-color: var(--primary-color-300);
  height: 100vh;
}

.quiz__app__heading {
  color: var(--color-grey);
  text-align: center;
  background-color: white;
  padding: 10px;
  max-width: 40%;
  margin-inline: auto;
  border-radius: 0 0 10px 10px;
}

.quiz__app__container {
  display: flex;
  margin-inline: auto;
  max-width: 1250px;
  gap: 25px;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 57px);
  height: calc(100svh - 57px);
}

.next__previous {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.nav__btn {
  border: none;
  background-color: var(--color-grey);
  color: white;
  box-shadow: 0 2px 15px 0 rgb(0 0 0 / 15%);
  border-radius: 5px;
  padding: 1em 2em;
}

.quiz__layout {
  height: 100%;
  max-height: 60%;
  padding: 30px;
  flex: 1 1 25%;
  border-radius: 15px;
  background: white;
  overflow: auto;
  box-shadow: 0 10px 15px 0 rgb(0 0 0 / 15%);
}

.quiz__layout::-webkit-scrollbar {
  display: none;
}

.quiz__app__inner {
  flex-basis: 60%;
}

@media screen and (max-width:1024px) {
  .quiz__app__container {
    flex-direction: column-reverse;
    width: 90%;
    margin-top: 50px;
    height: unset;
  }

  .quiz__layout {
    max-width: 500px;
    width: 100%;
  }

  .question__number {
    flex-shrink: 0;
  }
  .quiz__nav__heading{
    position: sticky;
    left: 0;
    top: 0;
  }
  .quiz-app {
    height: unset;
    padding-bottom: 50px;
  }
}